.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  color: white;
  background-color: #080808e8;
}
.logo {
  width: 150px;
  height: auto;
}
.nav {
  flex-grow: 1;
  padding-right: 4rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
  padding: 0;
  margin: 0;
}

.nav-item a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ff9900;
}
